:root{
    //Dashboard 
    --PrimaryColor: hsl(94, 59%, 35%);
    --textColor: hsl(240, 1%, 48%)

    //Login
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: rgb(190, 190, 190);
    --bgColor: hsl(220, 10%, 94%);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.datatable {
  height: 600px;
  width: 100%;
  padding: 20px;

  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn{
            background: var(--PrimaryColor);
            width: auto;
            height: 40px;
            justify-content: center;
            // padding: 10px;
            padding: 0 15px;
            align-items: center;
            color: var(--whiteColor);
            justify-content: center;
            font-size: 15px;
            gap: .5rem;
            transition: .3s ease;

            .icon{
                margin-right: 5px;
                background: var(--whiteColor);
                font-size: 1.5rem;
                color: var(--PrimaryColor);
                border-radius: 50%;
                transition: .3s ease;
            }

            &:hover{
                background: var(--primaryColor);
                color: var(--blackColor);

                .icon{
                    color: var(--blackColor);
                    transform: translateX(5px);
                }
            }
        }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .datagrid{
    border-radius: 10px;
    overflow: hidden;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 5px 5px rgb(214, 223, 213);
}
  .cellAction {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 7px;

    .deleteButton .icon {
      font-size: 2rem;
      padding: 5px 5px;
      border-radius: 5px;
      color: gray;
      cursor: pointer;

      &:hover{
        color: green;
      }
    }
  }
}
